<strong>Olá, {{ userName }}</strong>
<p>Boas vindas ao Merenda Democrática.</p>
<p>Agora você pode ajudar a avaliar as compras dae produtos da merenda escolar realizadas pelos municípios através do Programa Nacional da Alimentação Escolar (PNAE), com verbas do Fundo Nacional de Desenvolvimento da Educação (FNDE).</p>
<p>Através das suas avaliações e das suas contribuições nós poderemos analisar de forma automatizada os valores de cada compra.</p>
<p>Segue abaixo os seus dados de cadastro:</p>
<p>
	<strong>Nome: </strong> {{ userName }} <br />
	<strong>Login: </strong> {{ userLogin }} <br />
	<strong>Endereço:</strong> {{ userAddress }}<br />
	<strong>Data de Nascimento:</strong> {{ userBirthday }}<br />
	<strong>Telefone:</strong> {{ userPhone }}<br />

	<br />

</p>

<p>
	Desejamos que você aproveite o período que está aqui conosco.<br />
	<small>
		Qualquer dúvida você pode entrar em contato pelo email merenda.democratica@gmail.com ou em nossas redes sociais
	</small>
</p>
